/* Video Player Module Styles */
.player {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  position: relative;
  min-height: 400px;
}

.playerError {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  color: white;
  min-height: 400px;
}

.loadingOverlay {
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.videoContainer {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: block;
  position: relative;
  background-color: #000;
}
